footer {
    text-align: center;
    margin-top: 4%;
}
input {
    width: 93%;
}
ul {
    margin: 0;
    padding: 0;
}
.container.infowindow {
    max-width: 400px;
    text-align: center;
}
.content {
    padding: 1em;
}
.header {
    text-align: center;
    margin-bottom: 2%;
}
.img-responsive {
    margin: 0 auto;
}
.infolink {
    text-align: center;
    margin-top: 3%;
}
.locations > li {
    list-style-type: none;
    margin-bottom: 1em;
    background-color: rgba(191, 187, 187, 0.08);
    font-weight: 700;
}
.row.iw-description {
    margin-top: 5%;
    text-align: center;
}
#description {
    margin-bottom: 1em;
}
#info-window, #locations-list{
    padding: .5em;
    margin-right: 1%;
    margin-bottom: 1%;
}
#map {
    height: 400px;
}

